.navbar-background {
background-color: #3fc1c9;
}
/* Footer */
#contact {
color: white;
text-align: center;
background-color: #3fc1c9;
padding: 2%;
}

.contact-icon {
color: black;
margin: 20px 10px;
font-size: 1.5rem;
}

.icon-twitter:hover{
text-decoration: none;
color: #1da1f2;
}

.icon-fb:hover{
text-decoration: none;  
color: #3578E5; 
}

.icon-instagram:hover{
text-decoration: none;  
color: rgb(207, 85, 160);
}

.icon-mail:hover{
text-decoration: none;  
color: whitesmoke;
}

.icon-github:hover {
text-decoration: none;  
color: white;   
}

.icon-linkedin:hover{
text-decoration: none;  
color: #0077B5; 
}