html {
  height: 100%;
  overflow: hidden;
}

.navbar-background {
  background-color: #3fc1c9;
  box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.75);
  overflow: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  position: relative;
  min-height: 100%;
  /* overflow-x: hidden; */
  overflow: auto;
  height: 100%;
}

.content {
  margin-top: 75px;
  margin-bottom: -130px;
  overflow: auto;
  overflow-x: hidden;
  height: 76vh;
}

.fb_iframe_widget iframe {
  position: absolute;
  top: 5%;
  right: 145px;
}

/* Subscribe */
#mc_embed_signup {
  font-family: 'Poppins', sans-serif;
  position: relative;
  top: 100px;
  left: 40%

}

input {
  text-align: center;
}

#mc-embedded-subscribe {
  position: relative;
  top: 34px;
  left: -226px;
  padding: 0px;
  width: 105px;
  height: 40px;
  font-family: 'Bellota', cursive;
  font-size: 12px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

#mc-embedded-subscribe:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.ecg {
  margin-left: -5px;
  height: 87px;
  width: calc(100%/8);
  bottom: 170px
}

/* Footer */
#footer {
  height: 220px;
  }

#hand {
  position: absolute;
  width: 150px;
  right: 30%;
}

.contact {
  display: block;
  height: 135px;
  color: white;
  text-align: center;
  background-color: #3fc1c9;
  box-shadow: -9px -7px 28px -14px rgba(0, 0, 0, 0.75);
  padding: 2%;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

.contact-icon {
  color: black;
  margin: 20px 10px;
  font-size: 1.5rem;
}

.icon-twitter:hover {
  text-decoration: none;
  color: #1da1f2;
}

.icon-fb:hover {
  text-decoration: none;
  color: #3578E5;
}

.icon-instagram:hover {
  text-decoration: none;
  color: rgb(207, 85, 160);
}

.icon-mail:hover {
  text-decoration: none;
  color: whitesmoke;
}

.icon-github:hover {
  text-decoration: none;
  color: white;
}

.icon-linkedin:hover {
  text-decoration: none;
  color: #0077B5;
}

/*Creating a post*/
#create {
  position: absolute;
  left: 160px;
  top: 50px;
}

#title-input {
  position: absolute;
  width: 20%;
  bottom: 70%;
  margin-left: 10%;
  margin-bottom: 1%;
}

#content {
  position: absolute;
  width: 80%;
  height: 40%;
  top: 35%;
  margin-left: 10%;
}

#submit {
  position: absolute;
  top: 77%;
  margin-left: 86%;
  background-color: #1da1f2;
  border: #1da1f2;
  border-radius: 5px;
}

#submit:hover {
  background-color: slateblue;
}

/*About me*/
#about-me {
  display: flex;
  flex-direction: column;
  padding-top: 100px;


}

#my-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  align-self: center;

}

.text {
  margin-bottom: -10%;
  text-align: center;
  padding-top: 25px;
  font-family: 'Comfortaa', cursive;

}

/*Interesting links*/

.contentLinks {

  margin-top: 75px;
  height: calc(100vh - 209px);
  overflow: auto;

}

#wrap {
  padding-top: 2%;
  padding-bottom: 7%;
}

#links {
  padding-top: 5%;
  padding-left: 30%;
  font-family: 'Comfortaa', cursive;
}

.links-links {
  width: 300px;
  margin: auto;
}

.point {
  border-top: 2px dashed;
  border-color: black !important;
  margin: 0;
  padding: 30px;
  counter-increment: section;
  position: relative;
}



.point:nth-child(even):before {
  right: 100%;
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 110%;
}

.point:nth-child(odd):before {
  left: 100%;
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  padding: 10px;
  height: 20px;
  width: 20px;
  background-color: black;
  text-align: center;
  color: white;
  font-size: 110%;
}



.point:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px;
  padding-right: 0;
}

.point:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px;
  padding-left: 0;
}

.point:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.point:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

#pills {
  position: absolute;
  left: 240px;
  top: 130px;
  width: 150px;
  height: 100px;
}

#programming {
  position: absolute;
  right: 200px;
  top: 235px;
  width: 200px;
  height: 200px;

}

/*Facebook*/
.fb-page {
  position: absolute;
  left: 1355px;
  top: 15px;
}


/*Scrolling up btn*/

#button {
  display: inline-block;
  background-color: black;
  width: 20px;
  height: 25px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

#button::after {
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.arrow {
  color: #3fc1c9;
}

/*All posts*/

.contentAllPosts {

  margin-top: 75px;
  height: calc(100vh - 209px);

}

.allposts {
  padding-bottom: 12%;
  padding-top: 5%;
  padding-left: 1%;
}

HR {
  border: dotted #28568a 6px;
  border-bottom: none;
  width: 8%;
  margin: 20px auto;
}

.container {
  position: relative;
}

.paraTitle {
  color: #3fc1c9;
  font-family: 'Bellota', cursive;
  font-size: 22px;
  padding: 2%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.paraContent {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 17px;
  color: black;
  text-align: justify;
  padding: 7px;
}

.edit {
  position: absolute;
  left: 92%;
  cursor: pointer;
  top: 30px;

}

.edit:hover {
  color: lawngreen;

}

.trash {
  position: absolute;
  left: 95%;
  top: 30px;
  cursor: pointer;
}

.trash:hover {
  color: red;
}

.hidden {
  display: none;
}

.editTitleInput {
  margin: 0 auto;
  display: block;
  width: 400px;
  height: 30px;

}

.editContentInput {
  width: 60%;
  height: 100px;
  display: block;
  margin: 20px auto;
}

.submitButton {
  margin-left: 70%;
  margin-bottom: 10px;
  display: block;
  border-radius: 6px;
  background-color: #3fc1c9;
  border-style: hidden;
}

.submitButton:hover {
  background-color: lightseagreen;
}

.showMoreButton {
  position: absolute;
  top:27px;
  right: 115px;
  width: 87px;
  height: 23px;
  font-family: 'Bellota', cursive;
  font-size: 12px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

.date{
  position: absolute;
  top: 27px;
  margin-left: 99px;
  font-family: 'Bellota', cursive;
  font-size: 17px;
}

.dateHome{
  position: absolute;
  top: 22px;
  margin-left: 196px;
  font-family: 'Bellota', cursive;
  font-size: 17px;
}

.showMoreButtonHome{
  top:21px;
  position: absolute;
  right: 115px;
  width: 87px;
  height: 23px;
  font-family: 'Bellota', cursive;
  font-size: 12px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

.showMoreButton:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}


.morePosts{
  position: relative;
  top: -10px;
  right: -687px;
  width: 134px;
  height: 28px;
  font-family: 'Bellota', cursive;
  font-size: 12px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

.createButton{
  position: absolute;
  top: 68px;
  left: 10px;
  width: 87px;
  height: 23px;
  font-family: 'Bellota', cursive;
  font-size: 12px;
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-style: none;
  color: #ffffff;
  cursor: pointer;
}

/*Last Post */
.lastPost {
  border: groove #3fc1c9;
  left: 10%;
  width: 60%;
  position: relative;
  top: -160px;
  background-color: white;
  z-index: 1;
}

.newPostGif {
  width: 80px;
  height: 70px;
  position: absolute;
  right: 90%;

}

@media (max-width: 400px){
  .newPostGif{
    right: 85%;
    top:-11%;
    width: 60px;
    height: 50px;
  }
  .showMoreButtonHome {
    top: 42px;
    right:26%;
    width: 128px;
    height: 22px;
}
.dateHome {
  top: -12%;
  margin-left: 73%;
}
.lastPost{
    width:80%;
    top: -152px;
    z-index: 0;

}
.heart-widget{
display: none;
    
}
#mc_embed_signup{
    left: 0%;
    top:230px;
}    
#mc-embedded-subscribe{
    top:6px;
    left:0%;
}
.paraContent{
    text-align:left;
}

.container{
    padding: 31px;
}
.showMoreButton{
    top: 74px;
    width:100px;
    right: 113px;
}
.date{
    top:6px;
    margin-left:60%;
}
#pills{
    left: 35%;
    width: 70px;
    height: 50px;
    position: sticky;
}
#programming{
    left: 35%;
    width: 100px;
    height: 100px;
    position: sticky;
}
#hand{
    width: 50px;
    height: 30px;
    right: -6%;
    bottom: 59%;
}
#links{
    padding-top: 10%;
    padding: 1%;
    text-align: center;
}
.text{
    padding: 10px;
}

}
@media screen and (min-width: 401px) and (max-width: 767px){
.heart-widget{
display:none;        
    }
.lastPost{
    z-index:0;
    width: 80%;
}
.newPostGif{
    right: 85%;
    top: -17%;
}
.showMoreButtonHome{
    top:46px;
    right:125px;
}
.dateHome{
    top: -27px;
    margin-left: 258px;
}
#mc_embed_signup{
    left: 0%;
    top:230px;
}    
#mc-embedded-subscribe{
    top:6px;
    left:0%;
}
.showMoreButton{
    top: 49px;
    width: 100px;
    right: 170px;
}
.date{
    top: -23px;
    margin-left: 76%;

}
.paraContent{
    text-align:left;
}
#pills{
    left: 35%;
    width: 70px;
    height: 50px;
    position: sticky;
}
#programming{
    left: 35%;
    width: 100px;
    height: 100px;
    position: sticky;
}
#hand{
    width: 70px;
    height: 50px;
    right: -3%;
    bottom: 52%;
}
#links{
    padding-top: 10%;
    padding: 1%;
    text-align: center;
}
.text{
    padding: 10px;
}
}
@media (min-width: 768px) and (max-width: 1023px){

.lastPost{
    z-index:0;
    width: 80%;
}
.newPostGif{
    right: 87%;
    top: -4%;
}
.showMoreButtonHome{
    top: 19px;
    right: 58px;
}
.dateHome{
    top: -27px;
    margin-left: 258px;
}
#mc_embed_signup{
    left: 0%;
    top:230px;
}    
#mc-embedded-subscribe{
    top:6px;
    left:0%;
}
.showMoreButton{
    top: 22px;
    width: 100px;
    right: 91px;
}
.date{
    top: 17px;
    margin-left: 14%;

}
.paraContent{
    text-align:left;
}
#pills{
    left: 45%;
    width: 70px;
    height: 50px;
    position: sticky;
}
#programming{
    left: 45%;
    width: 100px;
    height: 100px;
    position: sticky;
}
#hand{
    width: 100px;
    height: 80px;
    right: 10%;
    bottom: 27%;
}
#links{
    padding-top: 10%;
    padding: 1%;
    text-align: center;
}
.text{
    padding: 10px;
}
}
@media (min-width: 1024px){

.lastPost{
    z-index:0;
    width: 80%;
}
.newPostGif{
    right: 91%;
    top: -4%;
}
.showMoreButtonHome{
    top: 23px;
    right: 103px;
}
.dateHome{
    top: 21px;
    margin-left: 173px;
}
#mc_embed_signup{
    left: 4%;
    top:230px;
}    
#mc-embedded-subscribe{
    top: 35px;
    left: -214%;
}
.showMoreButton{
    top: 26px;
    width: 100px;
    right: 168px;
}
.date{
    top: 24px;
    margin-left: 19%;

}
.paraContent{
    text-align:left;
}
#pills{
    left: 45%;
    width: 70px;
    height: 50px;
    position: sticky;
}
#programming{
    left: 45%;
    width: 100px;
    height: 100px;
    position: sticky;
}
#hand{
    width: 150px;
    height: 130px;
    right: 10%;
    bottom: 7%;
}
#links{
    padding-top: 10%;
    padding: 1%;
    text-align: center;
}
.text{
    padding: 10px;
}
}